* {
  margin: 0;
  top: 0;
}
/* zero header */
.zero_header {
  border-top: 1px solid hsl(0deg 0% 84.31%);
  border-bottom: 1px solid hsl(0deg 0% 84.31%);
  padding: 0.8em;
}
.zero_header_div2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* zero header */
/* banner section */
.header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.banner-btn {
  background-color: hsl(223.28deg 85.92% 58.24%);
  width: 10em;
}

/* banner section */

/* about section */
.about_text {
  width: 22em;
}
.about_thirdsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_btn {
  font-size: 1.1em;
  width: 16em;
  height: 4.2em;
  background-color: hsl(223.43deg 80.44% 55.88%);
}
.about_image {
  width: 18em;
  margin-top: 4em;
}
.about_section_img {
  margin-right: 2em;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* about section */

/* service section */
.services_section {
  background-image: url("images/figure8\ \(1\).png");
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: hsl(0deg 0% 95.29%);
}
.services_blog_btn {
  color: black;
  padding: 0;
  font-size: 1.2em;
}
.services_blog_icon {
  font-size: 4em;
  color: hsl(223.28deg 85.92% 58.24%);
}
.services_blog_no {
  color: hsl(0deg 0% 83.92%);
  font-size: 1.4em;
  text-align: end;
}
.card-body {
  background-color: #fff;
  height: 22em;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  left: 100%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-carousel .owl-nav button.owl-next {
  background-color: #ffffff;
  color: hsl(224.75deg 85.51% 59.41%);
  width: 1.6em;
  height: 1.6em;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2em;
}
.owl-carousel .owl-nav button.owl-prev {
  background-color: #ffffff;
  color: hsl(224.75deg 85.51% 59.41%);
  width: 1.6em;
  height: 1.6em;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2em;
}

.owl-nav button.owl-prev {
  left: 88%;
  top: -22%;
}
.owl-nav button.owl-next {
  left: 94%;

  top: -22%;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}
/* span {
  font-size: 70px;
  position: relative;
  top: -5px;
  
 
} */
.owl-nav button:focus {
  outline: none;
}
/* service section */

/* gallery section */
.checked {
  color: hsl(50.35deg 100% 50%);
}
.gallery_first_section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery_first_div {
  margin-left: 7em;
}
.gallery_second_div {
  width: 68%;
}
/* gallery section */

/* footer section */
.zero_footer_div1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}
/* d-flex flex-row justify-content-between align-items-center align-self-center */

.zero_footer_div2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.zero_footer_div3 {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.footer_third_div {
  margin-left: 4em;
}
.footer_divs {
  margin-top: 3em;
  margin-bottom: 3em;
}
.footer {
  padding: 1.6em;
}

/* footer section */
